DB_NAME = 'db_pose_palace'
DB_USER = 'root'
DB_PASS = 'yourDbPassword'
DB_HOST = 'localhost'
DB_PORT = '3306'
DB_DIALECT = 'mysql'
JWT_SECRET = 'rahasiabanget'
XENDIT_KEY = 
NGROK_TOKEN = 
CALLBACK_URL = 
CALLBACK_TOKEN = 